In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OrdinalEncoder
# from sklearn.preprocessing import LabelEncoder
# from sklearn.preprocessing import OrdinalEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

C:\Users\sivau\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (
C:\Users\sivau\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
pd.set_option("display.max_columns",200)

In [3]:
cs_data=pd.read_csv("Credit_Score_Clean.csv")

In [4]:
cs_data.sample(5)

,Age,Occupation,Annual_Income,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score,Credit_History_Age_Months
13134,19,Lawyer,20985.480,7,3,9,4,6,9,3.37,7.0,Standard,714.54,30.004103,Yes,38.216485,156.387845,Low_spent_Medium_value_payments,242.874670,Standard,0
10631,27,Entrepreneur,18413.795,5,7,15,0,16,13,7.36,0.0,Standard,99.41,35.593981,Yes,0.000000,103.032323,High_spent_Small_value_payments,309.415968,Standard,384
999,30,Mechanic,126849.180,2,3,3,0,11,6,4.04,3.0,Good,518.40,39.807728,No,0.000000,585.365448,Low_spent_Medium_value_payments,745.811052,Good,340
12602,41,Teacher,130435.860,4,6,9,2,17,1,10.85,0.0,Good,942.71,33.861684,No,188.186133,429.518801,High_spent_Medium_value_payments,694.660566,Standard,356
6085,43,Scientist,109864.470,8,6,16,0,15,10,8.67,7.0,Standard,35.21,28.768084,Yes,0.000000,888.034233,Low_spent_Medium_value_payments,301.303017,Standard,241

,Age,Occupation,Annual_Income,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score,Credit_History_Age_Months
13134,19,Lawyer,20985.480,7,3,9,4,6,9,3.37,7.0,Standard,714.54,30.004103,Yes,38.216485,156.387845,Low_spent_Medium_value_payments,242.874670,Standard,0
10631,27,Entrepreneur,18413.795,5,7,15,0,16,13,7.36,0.0,Standard,99.41,35.593981,Yes,0.000000,103.032323,High_spent_Small_value_payments,309.415968,Standard,384
999,30,Mechanic,126849.180,2,3,3,0,11,6,4.04,3.0,Good,518.40,39.807728,No,0.000000,585.365448,Low_spent_Medium_value_payments,745.811052,Good,340
12602,41,Teacher,130435.860,4,6,9,2,17,1,10.85,0.0,Good,942.71,33.861684,No,188.186133,429.518801,High_spent_Medium_value_payments,694.660566,Standard,356
6085,43,Scientist,109864.470,8,6,16,0,15,10,8.67,7.0,Standard,35.21,28.768084,Yes,0.000000,888.034233,Low_spent_Medium_value_payments,301.303017,Standard,241

In [5]:
cs_data["Credit_Score"].value_counts()

Credit_Score
Standard    19730
Good         7551
Poor         4430
Name: count, dtype: int64

Credit_Score
Standard    19730
Good         7551
Poor         4430
Name: count, dtype: int64

In [6]:
#check the missing values
cs_data.isnull().sum()

Age                          0
Occupation                   0
Annual_Income                0
Num_Bank_Accounts            0
Num_Credit_Card              0
Interest_Rate                0
Num_of_Loan                  0
Delay_from_due_date          0
Num_of_Delayed_Payment       0
Changed_Credit_Limit         0
Num_Credit_Inquiries         0
Credit_Mix                   0
Outstanding_Debt             0
Credit_Utilization_Ratio     0
Payment_of_Min_Amount        0
Total_EMI_per_month          0
Amount_invested_monthly      0
Payment_Behaviour            0
Monthly_Balance              0
Credit_Score                 0
Credit_History_Age_Months    0
dtype: int64

Age                          0
Occupation                   0
Annual_Income                0
Num_Bank_Accounts            0
Num_Credit_Card              0
Interest_Rate                0
Num_of_Loan                  0
Delay_from_due_date          0
Num_of_Delayed_Payment       0
Changed_Credit_Limit         0
Num_Credit_Inquiries         0
Credit_Mix                   0
Outstanding_Debt             0
Credit_Utilization_Ratio     0
Payment_of_Min_Amount        0
Total_EMI_per_month          0
Amount_invested_monthly      0
Payment_Behaviour            0
Monthly_Balance              0
Credit_Score                 0
Credit_History_Age_Months    0
dtype: int64

In [7]:

le = LabelEncoder()
cs_data["Occupation"]= le.fit_transform(cs_data["Occupation"])

In [8]:
cs_data

,Age,Occupation,Annual_Income,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score,Credit_History_Age_Months
0,23,12,19114.12,3,4,3,4,5,4,6.27,4.0,Good,809.98,31.377862,No,49.574949,199.458074,Low_spent_Small_value_payments,223.451310,Good,268
1,23,12,19114.12,3,4,3,4,6,0,11.27,4.0,Good,809.98,24.797347,No,49.574949,41.420153,High_spent_Medium_value_payments,341.489231,Good,269
2,23,12,19114.12,3,4,3,4,3,8,11.27,4.0,Good,809.98,22.537593,No,49.574949,178.344067,Low_spent_Small_value_payments,244.565317,Good,271
3,23,12,19114.12,3,4,3,4,3,6,11.27,4.0,Good,809.98,23.933795,No,49.574949,24.785217,High_spent_Medium_value_payments,358.124168,Standard,0
4,28,13,34847.84,2,4,6,1,7,1,7.42,2.0,Good,605.03,38.550848,No,18.816215,40.391238,High_spent_Large_value_payments,484.591214,Good,320
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31706,49,14,37188.10,1,4,5,3,7,12,5.38,3.0,Good,620.64,39.080823,No,84.205949,223.875018,Low_spent_Small_value_payments,291.619866,Good,357
31707,49,14,37188.10,1,4,5,3,7,12,5.38,3.0,Good,620.64,32.803431,No,84.205949,70.869970,High_spent_Large_value_payments,394.624914,Good,358
31708,49,14,37188.10,1,4,5,3,3,12,5.38,3.0,Good,620.64,36.979007,NM,84.205949,215.486386,Low_spent_Small_value_payments,300.008498,Good,360
31709,50,14,37188.10,1,4,5,3,5,12,5.38,3.0,Good,620.64,37.753013,NM,84.205949,147.339908,Low_spent_Small_value_payments,368.154976,Good,362
31710,25,9,39628.99,4,6,7,2,20,0,11.50,3.0,Good,502.38,33.638208,No,35.104023,251.672582,Low_spent_Large_value_payments,319.164979,Standard,381

,Age,Occupation,Annual_Income,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score,Credit_History_Age_Months
0,23,12,19114.12,3,4,3,4,5,4,6.27,4.0,Good,809.98,31.377862,No,49.574949,199.458074,Low_spent_Small_value_payments,223.451310,Good,268
1,23,12,19114.12,3,4,3,4,6,0,11.27,4.0,Good,809.98,24.797347,No,49.574949,41.420153,High_spent_Medium_value_payments,341.489231,Good,269
2,23,12,19114.12,3,4,3,4,3,8,11.27,4.0,Good,809.98,22.537593,No,49.574949,178.344067,Low_spent_Small_value_payments,244.565317,Good,271
3,23,12,19114.12,3,4,3,4,3,6,11.27,4.0,Good,809.98,23.933795,No,49.574949,24.785217,High_spent_Medium_value_payments,358.124168,Standard,0
4,28,13,34847.84,2,4,6,1,7,1,7.42,2.0,Good,605.03,38.550848,No,18.816215,40.391238,High_spent_Large_value_payments,484.591214,Good,320
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31706,49,14,37188.10,1,4,5,3,7,12,5.38,3.0,Good,620.64,39.080823,No,84.205949,223.875018,Low_spent_Small_value_payments,291.619866,Good,357
31707,49,14,37188.10,1,4,5,3,7,12,5.38,3.0,Good,620.64,32.803431,No,84.205949,70.869970,High_spent_Large_value_payments,394.624914,Good,358
31708,49,14,37188.10,1,4,5,3,3,12,5.38,3.0,Good,620.64,36.979007,NM,84.205949,215.486386,Low_spent_Small_value_payments,300.008498,Good,360
31709,50,14,37188.10,1,4,5,3,5,12,5.38,3.0,Good,620.64,37.753013,NM,84.205949,147.339908,Low_spent_Small_value_payments,368.154976,Good,362
31710,25,9,39628.99,4,6,7,2,20,0,11.50,3.0,Good,502.38,33.638208,No,35.104023,251.672582,Low_spent_Large_value_payments,319.164979,Standard,381

In [9]:
Oe=OrdinalEncoder()
a=["Credit_Mix","Payment_of_Min_Amount","Payment_Behaviour","Credit_Score"]
for colums in a:

    cs_data[colums] = Oe.fit_transform(np.array(cs_data[colums]).reshape(-1,1))

In [10]:
# OrdinalEncoder??

In [11]:
cs_data.sample(8)

,Age,Occupation,Annual_Income,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score,Credit_History_Age_Months
28972,30,7,85553.97,1,4,1,2,4,0,10.65,1.0,1.0,180.95,23.860090,1.0,95.105426,885.628587,5.0,31.615737,0.0,217
9666,23,10,67059.18,8,6,18,4,19,17,11.57,8.0,2.0,255.76,33.796334,2.0,167.123999,331.202537,5.0,331.499963,2.0,69
11538,30,8,38861.72,4,5,11,1,10,0,3.83,4.0,1.0,107.29,32.935030,1.0,26.069204,303.271694,5.0,311.806769,0.0,373
20269,17,14,66289.36,4,5,15,2,14,17,7.27,11.0,2.0,713.33,26.791692,2.0,61.325213,213.469939,1.0,518.516182,2.0,195
22328,44,14,36080.59,5,3,20,4,5,20,8.95,4.0,2.0,1445.97,35.445812,2.0,103.040109,57.181771,1.0,375.649703,2.0,249
2890,53,6,60781.48,8,6,9,0,20,13,4.14,0.0,1.0,1078.74,30.539643,1.0,0.000000,224.735208,4.0,586.477125,0.0,294
27215,53,1,36920.36,0,6,3,0,10,3,11.94,3.0,1.0,881.00,39.667965,0.0,0.000000,331.752415,5.0,270.217252,2.0,322
7387,42,4,30528.52,4,2,6,1,3,10,7.26,4.0,1.0,3.68,38.203166,1.0,15.557322,188.060917,3.0,293.286095,0.0,0

,Age,Occupation,Annual_Income,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score,Credit_History_Age_Months
28972,30,7,85553.97,1,4,1,2,4,0,10.65,1.0,1.0,180.95,23.860090,1.0,95.105426,885.628587,5.0,31.615737,0.0,217
9666,23,10,67059.18,8,6,18,4,19,17,11.57,8.0,2.0,255.76,33.796334,2.0,167.123999,331.202537,5.0,331.499963,2.0,69
11538,30,8,38861.72,4,5,11,1,10,0,3.83,4.0,1.0,107.29,32.935030,1.0,26.069204,303.271694,5.0,311.806769,0.0,373
20269,17,14,66289.36,4,5,15,2,14,17,7.27,11.0,2.0,713.33,26.791692,2.0,61.325213,213.469939,1.0,518.516182,2.0,195
22328,44,14,36080.59,5,3,20,4,5,20,8.95,4.0,2.0,1445.97,35.445812,2.0,103.040109,57.181771,1.0,375.649703,2.0,249
2890,53,6,60781.48,8,6,9,0,20,13,4.14,0.0,1.0,1078.74,30.539643,1.0,0.000000,224.735208,4.0,586.477125,0.0,294
27215,53,1,36920.36,0,6,3,0,10,3,11.94,3.0,1.0,881.00,39.667965,0.0,0.000000,331.752415,5.0,270.217252,2.0,322
7387,42,4,30528.52,4,2,6,1,3,10,7.26,4.0,1.0,3.68,38.203166,1.0,15.557322,188.060917,3.0,293.286095,0.0,0

In [12]:
cs_data["Num_Bank_Accounts"].value_counts()

Num_Bank_Accounts
3     5249
4     5234
5     5067
6     3319
7     3280
8     3236
1     2096
0     2003
2     1862
9      220
10     145
Name: count, dtype: int64

Num_Bank_Accounts
3     5249
4     5234
5     5067
6     3319
7     3280
8     3236
1     2096
0     2003
2     1862
9      220
10     145
Name: count, dtype: int64

In [22]:
x=cs_data.drop("Credit_Score",axis=1)
y=cs_data["Credit_Score"]

In [14]:
Scaler=StandardScaler()
arr=["Age","Annual_Income","Changed_Credit_Limit","Outstanding_Debt","Credit_Utilization_Ratio","Total_EMI_per_month","Amount_invested_monthly","Monthly_Balance"]
for col in arr:
    cs_data[col] = Scaler.fit_transform(np.array(cs_data[col]).reshape(-1,1))

In [15]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [16]:
RFC=RandomForestClassifier()

In [17]:
RFC.fit(x_train,y_train)

RandomForestClassifier()

RandomForestClassifier()

In [18]:
y_pred = RFC.predict(x_test)

In [19]:
accuracy_score(y_test,y_pred)*100

78.46331721673323

78.46331721673323